@media print {
  body {
    background: white !important;
  }

  .MuiPaper-root {
    box-shadow: none !important;
  }

  a {
    color: inherit !important;
    text-decoration: none !important;
  }

  button {
    display: none !important;
  }

  .MuiTooltip-popper {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 15mm;
  }
}
